<div class="page-container">
        <div class="grid wide post-highlight">
            <div class="row">
                
                <div class="col l-9 m-12 c-12">
                    <div class="post">
                        <h2 class="post__title">
                            Những lưu ý về kỹ sư công nghệ thông tin tại Nhật Bản
                        </h2>


                        <div class="post__content">

                            <p>
                                Cơ hội việc làm của kỹ sư công nghệ thông tin tại Nhật Bản đang rất rộng mở cho các bạn muốn trải nghiệm
                                môi trường sinh sống và làm việc tại xứ xở hoa anh đào. Nhật Bản đang cần một số lượng lớn lao động đặc biệt
                                là 50.000 (trong năm 2020) người trong lĩnh vực CNTT.
                            </p>

                            <div class="post__content-img">
                                <img src="https://japan.net.vn/images/uploads/2018/02/05/3-luu-y-ve-don-hang-ky-su-cong-nghe-thong-tin-tai-nhat-ban3.jpg" alt="">
                            </div>

                            <p>
                                Yêu cầu công việc:
                                <br>
                                <br>
                                Nhật Bản đòi hỏi khắt khe về kinh nghiệm, trình độ và khả năng làm việc. Do đó yêu cầu công việc của kỹ sư công nghệ
                                thông tin đó là:
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Có kiến thức chung về máy tính và cách hoạt động bao gồm phần cứng, 
                                        phần mềm, hệ điều hành và lập trình máy tính cơ bản.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Hiểu biết về các thiết bị điện tử, internet và an ninh mạng.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Cần có các kỹ năng mềm như ký năng giao tiếp tốt, 
                                        kỹ năng teamwork, kỹ năng đàm phán, kỹ năng quản lý dự án và công việc.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Có kinh nghiệm làm việc thực tế ít nhất 1-2 năm làm việc.
                                    </span>
                                </li>
                            </ul>

                            <p>
                                Yêu cầu về bằng cấp:
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Ưu tiên những người đã được đào tạo chính quy. Tuy nhiên, các nhà tuyển dụng Nhật không yêu cầu quá cao về bằng
                                        cấp, chỉ cần trình độ từ cao đẳng trở lên. Họ đánh giá chủ yếu qua kỹ năng và kinh nghiệm làm việc.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Mặc dù không phải nhà tuyển dụng nào cũng cần, nhưng nếu có chứng chỉ của kỳ thi sát hạch kỹ sư công nghệ thông tin
                                        sẽ chứng tỏ được chuyên môn với nhà tuyển dụng và được đánh giá cao hơn.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Trình độ tiếng Nhật đạt từ N3 trở lên.
                                    </span>
                                </li>
                            </ul>
                            <p>
                                <span>
                                    Nhật Bản cùng cần một lượng lớn các lập trình viên và kỹ sư có tiếng Nhật căn bản. Họ không yêu cầu quá cao về bằng
                                    cấp mà thiên về kinh nghiệm làm việc thực tế.
                                </span>
                            </p>
                            
                            <p>
                                <span>
                                    Định hướng phát triển công nghệ của Nhật Bản cũng như thế giới: 
                                    <a href="https://drive.google.com/file/d/1Pm1la_ExDyw2VqikCYNx7AA3tQoEkb6K/view?fbclid=IwAR3p2drlDXtEgb6c4Oq7LJHrzBVxR9kKSpjmXqNTh0Erh1amJgjrK5nXuaU">Link tài liệu</a>
                                </span>
                            </p>
                        </div>

                        <div class="post__performer">
                            <span>
                                01/05/2021
                                <span class="sep">|</span>
                            </span>
                            <span>
                                Bởi Mai Huy
                            </span>
                        </div>

                    </div>
                </div>
    
                <div class="col l-3 m-12 c-12">
                    <div class="posts-highlight">
                        <h2 class="posts-highlight__title">
                            Bài viết nối bật
                        </h2>
    
                        <ul class="posts-highlight__list">
                            <li class="posts-highlight__item">
                                <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                    <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/jobfair/company-info" class="posts-highlight__link">
                                    <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/culture/food" class="posts-highlight__link">
                                    <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>