 <div class="page-container">
        <div class="grid wide post-highlight">
            <div class="row">
                
                <div class="col l-9 m-12 c-12">
                    <div class="post">
                        <h2 class="post__title">
                            日本のITクラス - Chuyện lớp J
                        </h2>


                        <div class="post__content">

                            <p>
                                Lớp J, thuộc khoa công nghệ thông tin trường Đại học Công nghệ 
                                - ĐHQGHN dành cho những bạn sinh viên muốn học tiếng Nhật và có định hướng làm việc ở Nhật Bản,
                                nhưng lớp J thật sự chỉ có thế hay không, đối với mình thì là không ở đây qua 2 năm
                                mình đã được trải nghiệm rất nhiều điều mà chắc chắn các bạn ở những lớp CNTT khác
                                sẽ không bao giờ có. Chúng ta cùng tìm hiểu nhé !

                            </p>

                            <div class="post__content-img">
                                <img src="/assets/img/japit/story.jpg" style="width: 100%" alt="">
                            </div>

                            <p>
                                Chắc chắn rồi, điều đầu tiên các bạn tò mò đó là lớp J thì chương trình học có gì khác so với những lớp
                                CNTT trong khoa. Những kiến thức về chuyên ngành thì hầu như sẽ giống nhau, ngoài ra lớp J
                                sẽ phải học tiếng Nhật và đầu ra ngoại ngữ của các bạn lớp J cũng sẽ là chứng chỉ tiếng Nhật. Để 
                                phù hợp với mục tiêu làm việc tại Nhật Bản thì các bạn sinh viên lớp J sẽ được học 1 số hôm học như:
                                Văn hóa kinh doanh Nhật Bản, tiếng Nhật trong CNTT,.. Bạn có thể xem khung chương trình học chi tiết ở cuối bài viết.
                                <br>
                                Sau 2 năm học, trải nghiệm và học tập thì bản thân mình thấy lớp J sẽ có những đặc điểm như:
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Về học chuyện học tiếng Nhật, chắc hẳn các bạn sẽ rất lo lắng khi học ngoại ngữ ở 1 trường đại học kỹ thuật sẽ như thế nào.
                                        Học IT đã khó rồi còn gánh trên vai thêm 1 trong những ngôn ngữ khó học nhất trên thế giới, liệu bạn có muốn thử sức không.
                                        Bản thân mình thấy, thật sự thầy, cô dạy tiếng Nhật rất dễ gần, tâm huyết, nhiệt tình mà còn rất quan tâm đến sinh viên, thêm 
                                        1 điểm cộng nữa là  các thầy cô còn trẻ nên rất hiểu sinh viên. 
                                        <br>
                                        Thầy Hiển, cô Nhung, cô Thảo, cô Phương, cô Isoda,... bản thân mình thấy các cô rất tâm lý, quan tâm đến sinh viên và chẳng khác gì 
                                        như thầy cô chủ nhiệm ở cấp 2, cấp 3 vậy thậm chí còn hơn thế.
                                        <br>
                                        Ngoài thầy cô thì các bạn sinh viên lớp J còn được những anh chị 
                                        của công ty Sun Atersk support rất nhiều. Nên những bạn nào muốn học tiếng Nhật và định hướng làm việc ở Nhật việc chọn lớp J là hoàn toàn đúng đắn.
                                        <br>
                                        Nhưng như mình đã nói ở đầu, học 2 thứ khó cùng lúc thì sẽ có trở ngại như thế nào. Thật sự là sẽ phải vất vả và quyết tâm rất nhiều.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Khi mình mới vào trường, còn là sinh viên năm nhất, qua 1 năm học mình không bỏ học tiếng Nhật một buổi nào, nhưng từ năm 2 trở đi mọi chuyện đã khác
                                        hội chứng bùng học đã tới và bọn mình còn tính xem 1 tuần nên nghỉ bao nhiêu buổi để không bị cấm thi :(. Nếu các thầy cô có đọc được những dòng này thì em thật sự
                                        xin lỗi.
                                        <br>
                                        Thật sự là sang năm 2 mình thấy các bạn lớp J bỏ học tiếng Nhật rất nhiều, cũng có rất nhiều bạn bị cấm thi. Nếu các bạn hỏi tại sao lại như vậy thì... khi nào vào lớp J
                                        trải nghiệm là biết nhé.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Và bạn tự hỏi, bạn bè cùng lớp của mình ở lớp J sẽ như thế nào ???
                                        <br>
                                        Ở lớp J bạn sẽ được làm bạn với những wibu chúa, ông hoàng waifu, bà hoàng J-POP chuyên cover những bài hát Nhật hay những con người từ bé đến giờ chỉ xem siêu nhân Nhật bản :(
                                    </span>
                                </li>
                                
                            </ul>
                            <p>
                                <span>
                                    Và đó là những điều đặc biệt ở lớp J của chúng mình. Các bạn lớp 12 đang có nguyện vọng và mong muốn học ngành này thì hay suy nghĩ thật kĩ
                                    và nếu có chọn thì đừng bao giờ bỏ cuộc giữa chừng nhé, cũng đừng vì nghe pr sang Nhật làm IT mức lương 120 triệu mà vào lớp J nhé, phải cố gắng và vất vả hơn rất nhiều đó.
                                    Mình chúc các bạn may mắn và luôn có những quyết định đúng đắn.
                                </span>
                            </p>
                            
                            <p>
                                <span>
                                    Xem nội dung khung chương trình chi tiết tại: 
                                    <a href="https://uet.vnu.edu.vn/wp-content/uploads/2017/09/629.qd-ban-h%C3%A0nh-CT-CNTT-Nh%E1%BA%ADt-B%E1%BA%A3n.pdf">629.qd ban hành CT CNTT Nhật Bản</a>
                                </span>
                            </p>

                            <p>
                                <span>
                                    Đối với các khóa tuyển sinh từ năm 2019 trở đi sử dụng khung CTĐT:
                                    <a href="https://uet.vnu.edu.vn/wp-content/uploads/2017/09/Q%C4%90-1523-CNTT-NB.pdf">QĐ 1523 CNTT NB</a>
                                </span>
                            </p>
                        </div>

                        <div class="post__performer">
                            <span>
                                01/05/2021
                                <span class="sep">|</span>
                            </span>
                            <span>
                                Bởi Mai Huy
                            </span>
                        </div>

                    </div>
                </div>
    
                <div class="col l-3 m-12 c-12">
                    <div class="posts-highlight">
                        <h2 class="posts-highlight__title">
                            Bài viết nối bật
                        </h2>
    
                        <ul class="posts-highlight__list">
                            <li class="posts-highlight__item">
                                <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                    <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/jobfair/company-info" class="posts-highlight__link">
                                    <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/culture/food" class="posts-highlight__link">
                                    <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>