<div class="mt-5">
    <form>
        <div class="form-group">
            <label for="search-input">T? khóa</label>
            <input type="text" class="form-control" id="search-input" placeholder="Nh?p t? khóa...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>