<footer class="footer">
    <div class="contact">
        <div class="grid wide">
            <div class="row">
                <div class="l-3">
                    <img src="/assets/img/logo.png" alt="" class="contact__logo">
                </div>

                <div class="l-3">
                    <h3 class="contact__heading">Who are we? </h3>
                    <ul class="contact-list">
                        <li class="contact-item">
                            <a href="" class="contact-link">Vision, mission</a>
                        </li>
                        <li class="contact-item">
                            <a href="" class="contact-link">Core values</a>
                        </li>
                        <li class="contact-item">
                            <a href="" class="contact-link">The meaning of the name J64</a>
                        </li>
                    </ul>
                </div>

                <div class="l-3">
                    <h3 class="contact__heading">What do we do</h3>
                    <ul class="contact-list">
                        <li class="contact-item">
                            <a href="" class="contact-link">Creative & Engineering</a>
                        </li>
                        <li class="contact-item">
                            <a href="" class="contact-link">Our projects</a>
                        </li>
                    </ul>
                </div>

                <div class="l-3">
                    <h3 class="contact__heading">Contact</h3>
                    <ul class="contact-list">
                        <li class="contact-item">
                            <a href="" class="contact-link">Phone: 0942.110.632</a>
                        </li>
                        <li class="contact-item">
                            <a href="" class="contact-link">Email: huytm.hrt@gmail.com</a>
                        </li>

                        <li class="contact-item">
                            <a href="" class="contact-link">University: VNU UET</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="policy">
        <div class="grid wide">
            <div class="row">
                <div class="copy-right">
                    <img src="/assets/img/logo.png" alt="" class="copy-right__logo">
                    <span>@ 2021 J64. All rights reserved.</span>
                </div>

                <div class="social-list">
                    <a href="" class="social-item">
                        <i class="social-icon fab fa-github"></i>
                    </a>

                    <a href="" class="social-item">
                        <i class="social-icon fab fa-facebook"></i>
                    </a>

                    <a href="" class="social-item">
                        <i class="social-icon fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>