<div class="grid wide">
    <div class="row">
        <div class="col l-9 m-12 c-12">
            <div class="course-subpage container">
                <div class="course-info">
                    <h1 class="course-title" >Khóa tiếng Nhật cho người mới bắt đầu</h1>
                    <p class="course-description">Khóa học giúp các bạn nắm được những thông tin cơ bản về tiếng Nhật, là hành trang 
                        để chinh phục ngoại ngữ khó nhất nhì thế giới này.
                    </p>
                    <ul class="course-goals">
                        <h1 class="course-goals-heading">Bạn sẽ học được gì?</h1>
                        <li class="course-goals-item">
                            <i class="fas fa-check course-goals-icon"></i>
                            Giới thiệu chung về tiếng Nhật
                        </li>

                        <li class="course-goals-item">
                            <i class="fas fa-check course-goals-icon"></i>
                            Bảng chữ cái Hiragana
                        </li>

                        <li class="course-goals-item">
                            <i class="fas fa-check course-goals-icon"></i>
                            Bảng chữ cái Katakana
                        </li>
                    </ul>
                </div>

                <div class="course-details">
                    {{#each course}}
                        <div class="course-details-item">
                            <h1 class="course-details__title">
                                <i class="fas fa-chevron-right"></i>
                                {{this.description}}
                            </h1>
                            
                            <a href="/courses/beginner/{{this.name}}" class="course-details__link">
                                <img src="{{this.img}}" alt="" class="course-details-img"> 
                            </a>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>

        <div class="col l-3 m-0 c-0">
            <div class="course-subpage posts-highlight">
                <h2 class="posts-highlight__title">
                    Bài viết nối bật
                </h2>

                <ul class="posts-highlight__list">
                    <li class="posts-highlight__item">
                        <a href="/courses/jlpt-n3" class="posts-highlight__link">
                            <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                            <div class="posts-highlight__dsc">
                                <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                            </div>
                        </a>
                    </li>

                    <li class="posts-highlight__item">
                        <a href="/jobfair/company-info" class="posts-highlight__link">
                            <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                            <div class="posts-highlight__dsc">
                                <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                            </div>
                        </a>
                    </li>

                    <li class="posts-highlight__item">
                        <a href="/culture/food" class="posts-highlight__link">
                            <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                            <div class="posts-highlight__dsc">
                                <span>Tìm hiểu ẩm thực Nhật Bản</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>