<div class="page-container">
    <div class="grid wide">
        <div class="row">
            <div class="col l-9 m-12 c-12" style="margin-top: -10px">
                <div class="course-subpage container">
                    <div class="wrapper">
                        <h2 class="course-title", style="padding-top:30px; font-size: 3rem">{{item.name}}</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{item.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="post__performer">
                        <span>
                            04/05/2021
                            <span class="sep">|</span>
                        </span>
                        <span>Bởi Bình Đặng</span>
                    </div>
                </div>
            </div>

            <div class="col l-3 m-0 c-0">
                <div class="posts-highlight">
                    <h2 class="posts-highlight__title">Các khóa học khác</h2>

                    <ul class="posts-highlight__list">
                        <li class="posts-highlight__item">
                            <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                <div class="posts-highlight__dsc">
                                    <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                </div>
                            </a>
                        </li>

                        <li class="posts-highlight__item">
                            <a href="/jobfair/company-info" class="posts-highlight__link">
                                <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                <div class="posts-highlight__dsc">
                                    <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                </div>
                            </a>
                        </li>

                        <li class="posts-highlight__item">
                            <a href="/culture/food" class="posts-highlight__link">
                                <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                <div class="posts-highlight__dsc">
                                    <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>