/* Header */


.header {
    box-shadow: 0px 4px 4px #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--white-color);
}

.header__navbar {
    display: flex;
    align-items: center;
    height: 80px;
}

.header__navbar-logo-img {
    height: 60px;
}

.header__navbar-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__navbar-item {
    position: relative;
    margin: 0 15px;
    padding: 0 10px;
}

.header__navbar-item:hover .header__navbar-select {
    display: block;
}

.header__navbar-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 600;
    padding: 10px 0;
    display: block;
    min-width: 140px;
}

.header__navbar-link:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

.header__navbar-link::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 32px;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0;
    transform: translateY(20px);
    transition: ease 0.2s;
}

.header__navbar-link::before {
    content: "";
    /* background-color: red; */
    position: absolute;
    height: 50px;
    top: 32px;
    left: -20px;
    right: -20px;
}

.header__navbar-link:hover {
    color: var(--primary-color);
}

.header__navbar-icon {
    position: relative;
    margin-left: 5px;
    font-size: 1rem;
    top: -2px;
}

.header__navbar-select {
    position: absolute;
    left: -20px;
    right: -20px;
    top: calc(100% + 24px);
    display: none;
    box-shadow: 0 0px 3px #fff;
}

.header__navbar-select-list {
    list-style: none;
    padding-left: 0;
    background-color: var(--black-color);
    padding: 10px 0;
    border-radius: 2px;
}

.header__navbar-select-item {
    padding: 0 30px;
    position: relative;
}

.header__navbar-select-item::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #393939;
    bottom: 0;
    left: 30px;
    right: 30px;
}

.header__navbar-select-item:last-child::after {
    display: none;
}

.header__navbar-select-link {
    position: relative;
    text-decoration: none;
    color: #a7a7a7;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 15px 0;
}

.header__navbar-select-link:hover {
    color: var(--white-color);
}

/* Banner */

.content {
    padding-bottom: 60px;
    margin-top: var(--header-navbar-height);
}

.content-heading {
    font-size: 3.2rem;
    color: var(--primary-color);
    font-weight: 600;
}

.banner-img {
    width: 100%;
}

/* Study Intro */

.study-intro {
    display: flex;
    height: 360px;
}

.intro-text-part {
    margin-right: 10px; 
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-heading {
    margin: 0;
}

.intro-desc {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2rem;
    color: var(--text-color);
}

.intro-img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 2px #ccc;
}


/* Courses */

.courses {
    /* height: 700px; */
}

.courses-heading {
    text-align: center;
}

.course-item {
    min-height: 450px;
    position: relative;
}

.couse-img {
    width: 100%;
}

.course-name {
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0;
}

.course-desc {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2.4rem;
    padding-bottom: 20px;
}

.course-see-more {
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
}

.course-see-more:hover {
    transform: scale(1.2);
    animation: liner .2s;
}


/* Story of J Class */

.story {
    display: flex;
}

.story-text-part {
    font-size: 1.4rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
}

.story-desc {
    margin-top: -50px;
    text-align: justify;
}

.story-heading {
    margin-top: 30px;
}

.story-img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 2px #ccc;
}