/* Tablet and mobile */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .display-on-mobile-tablet {
        display: block;
    }

    .intro-text-part {
        padding-bottom: 40px;
    }

    .story-text-part {
        margin: 0 40px;
    }

    .content-heading {
        margin: 0 20px 20px 20px;
    }

    .story-img,
    .course-see-more {
        margin-bottom: 20px;
    }

    .course-name,
    .course-desc,
    .intro-desc {
        margin: 0 20px;
    }


}


/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .display-on-tablet {
        display: block;
    }
}


/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .display-on-mobile {
        display: block;
    }
}