<div class = "container-login" style = 'font-size : 20px; margin-top: var(--header-navbar-height) '>
    <div class = 'login-form' , style="text-align: center;">
        <form method="POST" action="">
        <h1>Đăng ký vào website</h1>
        <div class="input-box">
            <label for="exampleInputEmail1">Username</label>
            <input class = 'form-control' name = 'username' placeholder="Enter username">
        
        </div>
        <div class="input-box">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name = 'password' placeholder="Password">
        </div>
        <button type="submit" class="btn-login" >Submit</button>
        </form>
    </div>
    
</div>