<div class="container">
            <div class="grid content">
                <div class="banner">
                    <img src="./assets/img/banner-sensei.jpg" alt="" class="banner-img">
                </div>
            </div>

            <div class="grid wide content">
                <div class="study-intro">
                    <div class="row">
                        <div class="col l-6 m-12 c-12">
                            <div class="intro-text-part">
                                <h1 class="content-heading intro-heading">
                                    Ngành Công nghệ thông tin định hướng thị trường Nhật Bản
                                </h1>
    
                                <div class="intro-desc">
                                    <span class="intro-desc__text">
                                        Ngành CNTT định hướng thị trường Nhật Bản 
                                        đào tạo các kiến thức cơ bản, quan trọng và 
                                        hiện đại về Công nghệ Thông tin và truyền thông, 
                                        tập trung nhiều vào các quy trình xây dựng và triển 
                                        khai các dự án phần mềm, quy trình tích hợp, quản lý 
                                        và vận hành các hệ thống thông tin và một số kiến thức 
                                        liên quan khác; các kỹ năng thực hành cao tập trung vào 
                                        lĩnh vực công nghệ phần mềm; nắm vững và thành thạo trong
                                        phân tích, thiết kế, xây dựng, cài đặt, bảo trì, 
                                        phát triển và quản lý các hệ thống, chương trình,
                                        dự án; các kỹ năng mềm quan trọng để làm việc trong
                                        môi trường doanh nghiệp CNTT nói chung và Nhật Bản 
                                        nói riêng.
                                    </span>
                                </div>

                                <div class="see-more-btn intro-see-more">
                                    <a href="/japit/intro" class="see-more-link">
                                        Tìm hiểu thêm
                                        <i class="fas fa-angle-double-right see-more-icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
    
                        <div class="col l-6 m-12 c-12">
                            <div class="intro-img-part">
                                <img src="./assets/img/course-intro-img.jpg" alt="" class="intro-img">
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="grid wide content">
                <div class="courses">
                    <h1 class="content-heading courses-heading">
                        Các khóa học tiếng Nhật theo trình độ
                    </h1>

                    <div class="courses-list">
                        <div class="row">
                            <div class="col l-4 m-12 c-12">
                                <div class="course-item">
                                    <img src="./assets/img/courses/course-1.jpg" alt="" class="course-img">
                                    <h2 class="course-name">Tiếng Nhật sơ cấp</h2>
                                    <div class="course-desc">Khóa học giúp các bạn làm quen với các bảng chữ cái
                                        tiếng Nhật, Hiragana và Katakana. Sau đó là các bài học ngữ pháp và
                                        từ vựng theo giáo trình Minna no nihongo. Đây là hành trang vững chắc 
                                        giúp các bạn có một nền móng tiếng Nhật vững chắc.
                                    </div>
                                    <a href="/courses/beginner" class="course-see-more-reverse">
                                        Tìm hiểu thêm
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col l-4 m-12 c-12">
                                <div class="course-item">
                                    <img src="./assets/img/courses/course-2.jpg" alt="" class="course-img">
                                    <h2 class="course-name">Tiếng Nhật trung cấp</h2>
                                    <div class="course-desc">Khóa học giúp các bạn tiếp thu thêm từ vựng, ngữ pháp
                                        ở mức độ cao hơn, bám theo giáo trình Minna no nihongo 2. Khóa học
                                        cũng giúp các bạn phát triển các kỹ năng khác như Kanji, 
                                        kỹ năng nghe, nói. Đây là hành trang để các bạn chinh phục được kỳ thi 
                                        JLPT N3 trong tương lai.
                                    </div>
                                    <a href="/courses/intermediate" class="course-see-more-reverse">
                                        Tìm hiểu thêm
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col l-4 m-12 c-12">
                                <div class="course-item">
                                    <img src="./assets/img/courses/course-3.jpg" alt="" class="course-img">
                                    <h2 class="course-name">JLPT N3</h2>
                                    <div class="course-desc">
                                        Sau khi hoàn thành hai khóa học trước, bạn đã có đủ hành trang kiến thức
                                        và tâm lý để sẵn sàng chinh phục kỳ thi Năng lực tiếng Nhật JLPT N3. Khóa học 
                                        sẽ cung cấp các kiến thức ở mức độ cao hơn, phù hợp với kỳ thi JLPT N3. Ngoài ra,
                                        khóa học còn có các đề thi để bạn luyện tập.
                                    </div>
                                    <a href="/courses/jlpt-n3" class="course-see-more-reverse">
                                        Tìm hiểu thêm
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>

            <div class="grid wide content">
                <div class="story">
                    <div class="row">
                        <div class="col l-6 m-12 c-12">
                            <div class="story-img-part">
                                <img src="./assets/img/story-img.jpg" alt="" class="story-img">
                            </div>
                        </div>

                        <div class="col l-6 m-12 c-12">
                            <div class="story-text-part">
                                <h2 class="story-heading content-heading">
                                    Chuyện lớp J
                                </h2>
    
                                <div class="story-desc">
                                    <div class="story-detail">
                                        Là một sinh viên ngành Công nghệ thông tin định hướng 
                                        thị trường Nhật Bản, cuộc sống sinh viên của bạn sẽ như thế nào?                                        
                                    </div>
                                    
                                    <div class="story-detail">
                                        Vừa học Công nghệ thông tin, vừa học tiếng Nhật và tìm hiểu văn hóa Nhật Bản có phải 
                                        là một nhiệm vụ bất khả thi? 
                                    </div>

                                    <div class="story-detail">
                                        Những điều đặc biệt nào mà chỉ sinh viên ngành
                                        học này mới được trải qua?
                                    </div>
                                </div>
    
                                <div class="see-more-btn story-see-more">
                                    <a href="/japit/story" class="see-more-link">
                                        Tìm hiểu thêm
                                        <i class="fas fa-angle-double-right see-more-icon"></i>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="grid wide content">
                <div class="culture">
                    <h2 class="culture-heading content-heading">Khám phá văn hóa Nhật Bản</h2>

                    <div class="culture-list">
                        <div class="row">
                            <div class="col l-6 m-12 c-12">
                                <div class="culture-item">
                                    <h3 class="culture-item-heading">Ẩm thực Nhật Bản</h3>
                                    <div class="culture-item-desc">
                                        Khám phá nền ẩm thực đa dạng với nhiều món ăn nổi tiếng toàn thế giới.
                                    </div>
                                    <div class="culture-item-wrapper-img">
                                        <img src="./assets/img/culture/food.jpg" alt="" class="culture-item-img">
                                    </div>
                                    <div class="course-see-more-wrapper">
                                        <a href="/culture/food" class="course-see-more culture-see-more">
                                            Tìm hiểu thêm
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col l-6 m-12 c-12">
                                <div class="culture-item">
                                    <h3 class="culture-item-heading">Các lễ hội ở Nhật Bản</h3>
                                    <div class="culture-item-desc">
                                        Khám phá văn hóa qua các lễ hội đặc sắc với nhiều nghi lễ thú vị.
                                    </div>
                                    <div class="culture-item-wrapper-img">
                                        <img src="./assets/img/culture/festival.jpg" alt="" class="culture-item-img">
                                    </div>
                                    <div class="course-see-more-wrapper">
                                        <a href="/culture/festival" class="course-see-more culture-see-more">
                                            Tìm hiểu thêm
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

        </div>

   