<div class="page-container">
        <div class="grid wide post-highlight">
            <div class="row">
                
                <div class="col l-9 m-12 c-12">
                    <div class="post">
                        <h2 class="post__title">
                            お祭り - Một trong những khía cạnh quan trọng nhất của văn hóa Nhật Bản
                        </h2>


                        <div class="post__content">

                            <p>
                                Matsuri là lễ hội Nhật Bản và là một cách để cộng đồng địa phương tụ
                                họp và ăn mừng. Gần như tất cả các matsuri đều có một số mối dây liên
                                kết với Phật giáo, Thần đạo, bốn mùa hoặc các sự kiện lịch sử quan 
                                trọng, mặc dù một ít trong số đó hoàn toàn dựa vào vẻ đẹp của pháo hoa. 
                                Đôi khi, matsuri có thể có những cuộc diễu hành tôn giáo trang nghiêm 
                                đưa vị thần Shinto từ đền này sang đền khác. Vào những dịp khác, matsuri 
                                là những cuộc tụ họp thế tục thông thường liên quan đến các mùa. 
                                Chẳng hạn, khi mùa xuân biến phong cảnh thành một cảnh đẹp được tạo thành 
                                từ nhiều hoa anh đào bồng bềnh khác nhau, mọi người sẽ đổ xô đến các công 
                                viên để ngắm nhìn những bông hoa màu hồng nở rộ và tận hưởng không khí lễ hội. 
                                Một số matsuri sẽ được tổ chức trên toàn quốc, nhưng hầu hết là các sự kiện trong 
                                vùng lân cận xuất phát từ nhiều nền văn hóa vi mô của Nhật Bản, dẫn đến vô số 
                                các lễ hội địa phương lạ kỳ vẫn được tổ chức cho đến ngày nay.
                            </p>

                            <div class="post__content-img">
                                <img src="https://ohmatsuri.com/assets/uploads/reports/_600x300_crop_center-center/120_reh_Chichibu-Yomatsuri.jpg" alt="">
                            </div>

                            <p>
                                Các yếu tố phổ biến của một matsuri:
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Mikoshi
                                        <br>
                                        Mikoshi là một chiếc kiệu linh thiêng xuất hiện trong nhiều
                                        matsuri. Đây thực tế là một ngôi đền nhỏ di động. 
                                        Những người đi lễ đền đón vị thần từ đền thờ nhà họ 
                                        và diễu hành quanh khu phố. Tại một số lễ hội, cuộc diễu hành 
                                        sẽ diễn ra đều đặn và êm ả. Ở những lễ hội khác, mikoshi sẽ được 
                                        lắc qua lại để giải trí cho vị thần.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Kiệu Dashi
                                        <br>
                                        Dashi là những chiếc kiệu đại diện cho các linh hồn và vị thần địa
                                        phương trong cuộc diễu hành. Chúng sẽ được kéo, thay vì khiêng như
                                        mikoshi và được trang trí rất lộng lẫy. Kiệu có thể là kiệu cỡ nhỏ và sẽ
                                        được kéo chỉ bằng bốn hay năm người hoặc lớn như các tòa nhà.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Khi thưởng thức nhiều loại sushi cùng một lúc, sau mỗi loại nên dùng kèm một lát gừng ngâm chua để rửa sạch vị giác, giúp hương vị sushi không bị trộn lẫn vào nhau.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Âm nhạc
                                        <br>
                                        Âm nhạc của matsuri chứa đầy những âm thanh truyền thống được tạo
                                        ra bởi những cây sáo bằng lau sậy với âm điệu buồn da diết được gọi là
                                        hichiriki, đàn shamisen dồn dập cùng tiếng trống taiko mạnh mẽ. Hòa
                                        cùng các nhạc cụ là kakegoe, nhiều tiếng hô và la khác nhau từ cả người
                                        biểu diễn và khán giả.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Trang phục
                                        <br>
                                        Những người tham gia matsuri mặc nhiều kiểu trang phục khác nhau,
                                        bao gồm hachimaki (băng đô cách điệu), happi (áo khoác có biểu tượng
                                        cộng đồng) và tabi (một loại vớ vải tách ngón chân cái và các ngón chân
                                        còn lại để đi với geta, guốc gỗ truyền thống). Yukata, kimono mùa hè,
                                        cũng là trang phục phổ biến được nhiều người xem chọn mặc.
                                    </span>
                                </li>

                                
                            </ul>
                            <p>
                                <span>
                                    Theo truyền thống, matsuri là lễ hội được tổ chức cho cộng đồng để tôn
                                    vinh các vị thần hoặc những khoảnh khắc lịch sử địa phương. Vì nhiều lễ
                                    hội trong số đó được tổ chức vì những lý do chỉ liên quan đến khu vực
                                    được tổ chức, nên không nhất thiết phải mở cửa cho khách du lịch tham
                                    gia. Nhưng ngay cả khi không thể tham gia diễu hành tôn giáo được lên
                                    kế hoạch cẩn thận này, bạn vẫn có thể tham gia những sự kiện khác.
                                    Một số matsuri sẽ được mở rộng hơn cho công chúng đến tham gia bao
                                    gồm cả du khách từ nước ngoài.
                                </span>
                            </p>
                            
                           
                        </div>

                        <div class="post__performer">
                            <span>
                                01/05/2021
                                <span class="sep">|</span>
                            </span>
                            <span>
                                Bởi Mai Huy
                            </span>
                        </div>

                    </div>
                </div>
    
                <div class="col l-3 m-12 c-12">
                    <div class="posts-highlight">
                        <h2 class="posts-highlight__title">
                            Bài viết nối bật
                        </h2>
    
                        <ul class="posts-highlight__list">
                            <li class="posts-highlight__item">
                                <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                    <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/jobfair/company-info" class="posts-highlight__link">
                                    <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/culture/food" class="posts-highlight__link">
                                    <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>