<div class="page-container">
        <div class="grid wide post-highlight">
            <div class="row">
                
                <div class="col l-9 m-12 c-12">
                    <div class="post">
                        <h2 class="post__title">
                            Tìm hiểu về Sushi món ăn tuyền thống của Nhật Bản
                        </h2>


                        <div class="post__content">

                            <p>
                                Sushi là món ăn truyền thống và cũng là một nét văn hóa đặc trưng của đất nước mặt trời mọc. Hơn thế, sushi còn vượt qua biên giới nước Nhật để trở thành món ăn được 
                                nhiều người trên nhiều quốc gia ưa thích. Vậy hôm nay hãy cùng với J64 tìm hiểu về món ăn truyền thống một cách tường tận và chi tiết hơn nhé.
                                <br>
                                <br>
                                Sushi là một món ăn Nhật Bản bao gồm cơm trộn giấm kết hợp với các nguyên liệu khác. Từ xưa, người nhật đã biết cách ủ cá, tôm, hải sản vào nắm
                                cơm để giữ được mùi vị thơm ngon. Khi ủ, cơm thường được trộn với một chút giấm cho chua chua ngọt ngọt. Mà cũng chính vì thế mà cá ủ trong cơm được chuyển hóa thành sushi.
                            </p>

                            <div class="post__content-img">
                                <img src="https://daubepgiadinh.vn/wp-content/uploads/2018/05/sushi-nhat-ban.jpg" alt="">
                            </div>

                            <p>
                                Sushi thường được cắt theo khoanh, dùng ngay sau khi vừa được dọn ra, và ăn kèm với nước tương, wasabi 
                                và gừng ngâm chua. Khi dùng nên cho cả miếng vào miệng để cảm nhận trọn vẹn hương vị trong từng khoanh. Cái vị là lạ của cơm trộn giấm, vị ngầy ngậy và mát của cá sống cùng vị cay nồng của wasabi xông lên mũi.                                 
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Đối với wasabi nên cho từ từ chút một vào bát riêng, đến khi có được độ cay mong muốn.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Đối với nước tương: cách chấm nước tương có thể làm ảnh hưởng đến hương vị món ăn. Khi chấm, phải chấm phần bề mặt thức ăn vào nước tương, không nên chấm phần cơm vì món sushi sẽ rất dễ bị mặn.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Khi thưởng thức nhiều loại sushi cùng một lúc, sau mỗi loại nên dùng kèm một lát gừng ngâm chua để rửa sạch vị giác, giúp hương vị sushi không bị trộn lẫn vào nhau.
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Để đảm bảo tính lịch sự và thẩm mỹ của đĩa thức ăn, nên dùng sushi theo thứ tự từ ngoài vào trong, tránh gắp ngay miếng ở giữa đĩa.
                                    </span>
                                </li>
                                
                            </ul>
                            <p>
                                <span>
                                    Bạn là một người yêu thích ẩm thực Nhật Bản nhất là món sushi, vậy còn chờ gì nữa đến ngay với nhà hàng Nhật Bản để thưởng thức ngay nhé.
                                </span>
                            </p>
                            
                           
                        </div>

                        <div class="post__performer">
                            <span>
                                01/05/2021
                                <span class="sep">|</span>
                            </span>
                            <span>
                                Bởi Mai Huy
                            </span>
                        </div>

                    </div>
                </div>
    
                <div class="col l-3 m-12 c-12">
                    <div class="posts-highlight">
                        <h2 class="posts-highlight__title">
                            Bài viết nối bật
                        </h2>
    
                        <ul class="posts-highlight__list">
                            <li class="posts-highlight__item">
                                <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                    <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/jobfair/company-info" class="posts-highlight__link">
                                    <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/culture/food" class="posts-highlight__link">
                                    <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>