<div class="page-container">
        <div class="grid wide post-highlight">
            <div class="row">
                
                <div class="col l-9 m-12 c-12">
                    <div class="post">
                        <h2 class="post__title">
                            Thông tin những doanh nghiệp đã và đang tham gia Jobfair của Sun Asterisk
                        </h2>


                        <div class="post__content">
                            <p>
                                Jobfair của Sun* dành cho những bạn sinh viên đang theo học khoa công nghệ thông tin định hướng thị trường Nhật Bản
                                tại các trường đại học như: Đại học Bách Khoa Hà Nội, Đại học Công nghệ - ĐHQGHN,...
                            </p>

                            <p>
                                Dưới đây là những công ty với những lĩnh vực khác nhau đã tham gia Jobfair của Sun*
                            </p>

                            <div class="post__content-img">
                                <img src="/assets/img/jobfair.png" alt="">
                            </div>
                            

                            <p>
                                <span>
                                    Thông tin các công ty tham gia jobfair của Sun*: 
                                    <a href="https://docs.google.com/spreadsheets/d/1i5Bh7RmniYjyqX26l-hQXnLOBEj5o0oj50pKw5Q3Hjw/edit#gid=0" target="_blank">Link</a>
                                </span>
                            </p>
                        </div>

                        <div class="post__performer">
                            <span>
                                01/05/2021
                                <span class="sep">|</span>
                            </span>
                            <span>
                                Bởi Mai Huy
                            </span>
                        </div>

                    </div>
                </div>
    
                <div class="col l-3 m-12 c-12">
                    <div class="posts-highlight">
                        <h2 class="posts-highlight__title">
                            Bài viết nối bật
                        </h2>
    
                        <ul class="posts-highlight__list">
                            <li class="posts-highlight__item">
                                <a href="/courses/jlpt-n3" class="posts-highlight__link">
                                    <img src="https://akira.edu.vn/wp-content/uploads/2017/08/phuong-cham-hoc-tap-440x264.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu thêm về các khóa học tiếng Nhật</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/jobfair/company-info" class="posts-highlight__link">
                                    <img src="https://edu.sun-asterisk.com/wp-content/uploads/2020/10/71c0c8e00a447b74ba9e5a640f4fcff2.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Jobfair Sun* sẽ có những công ty nào đang đợi bạn</span>
                                    </div>
                                </a>
                            </li>

                            <li class="posts-highlight__item">
                                <a href="/culture/food" class="posts-highlight__link">
                                    <img src="https://intertour.vn/uploads/media/news/9320b6ec-b52f-40c0-a93b-7ea65a3f7dad.jpg" alt="" class="posts-highlight__img">
                                    <div class="posts-highlight__dsc">
                                        <span>Tìm hiểu ẩm thực Nhật Bản</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>